<div id="projects"><h2>Projects</h2>
    <div id="vr"><div class="sectionhead"><h3>VR Anatomy Viewer by Team OcuSonix | Scrum Master, Developer, Designer</h3> <span class="subtitle">01.2021 - 06.2021</span></div>
        <p>VR Anatomy Viewer is a virtual reality application in which users may interact 
                            with and learn about human anatomy. It is intended to benefit students, teachers, 
                            and interested individuals alike. With this first installment of the application, 
                            the team's focus was on the heart, as that was our client's expertise.</p>
                        <p>This project was based in Unity. The final product was a Virtual Reality application
                            allowing users to interact with an anatomically correct human heart to learn more
                            about it.</p>
                        <p>My role on the project was primarily as scrum master, but I was also responsible
                            for developing key features, as well as designing the overall look and feel 
                            of the UI. You can see examples of my work on the project on my <a href="https://www.linkedin.com/in/jade-n-kelly/">LinkedIn.</a></p></div>
    <div id="story"><div class="sectionhead"><p><h3>Story Tracker | Developer, Designer</h3> <span class="subtitle">10.2020 - 12.2020</span></div>
        <p>Story Tracker is web application where writers of all kinds may track their daily
                            progress on writing projects. Users can categorize their entries by project, 
                            and they are able to see statistics based on these entries.</p>
                        <p>This project was a single-page application created using Angular on the front end
                            with a nodeJS back-end. We used MongoDB to track user entries. </p>
                        <p>On this project, I was one of a three-person development team. I was responsible
                            for such features as the calendar component, the statistics component, and
                            the login component. This involved ensuring user input was handled correctly,
                            and that data displayed correctly as well.</p></div>
</div>
<div id="education"><h2>Education</h2>
    <div class="sectionhead"><h3>Bachelor of Applied Science, Information Systems and Technology</h3> <span class="subtitle">09.2016 - 08.2021</span></div>
    <p>Web and Application Development Concentration</p>
    <div class="sectionhead"><h3>DigiPen Institute of Technology</h3> <span class="subtitle">09.2014 - 04.2016</span></div>
    <p>Coursework in game and interactive media design</p>
</div>